body {
    font-family: 微軟正黑體 !important;
}
.display-4{
    color: #c393ff;
}

/* header */

header {
    height: 160px;
    width: 100%;
    position: relative;
}

.header-group {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.ggdove-logo {
    background-image: url("../img/logo.png");
    width: 150px;
    height: 150px;
    background-size: cover;
    top: 20px;
}


/* banner */

.banner {
    height: calc(100vh - 250px);
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide .banner1 {
    background-image: url("../img/插畫/1500讚 迷宮.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.swiper-slide .banner2 {
    background-image: url("../img/插畫/Just like a humanIII.jpg");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
}

.swiper-slide .banner3 {
    background-image: url("../img/插畫/大太法師I.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%, 50%;
}

.scroll-down {
    height: 90px;
    width: 100%;
    position: relative;
}

.scroll {
    width: 162px;
    height: 90px;
    position: absolute;
    background-image: url("../img/SCROLL-DOWN-button-1.gif");
    background-size: cover;
    left: 50%;
    transform: translate(-50%, 0);
}


/* artist */

.artist-group {
    margin: 160px 0;
    width: 100%;
    height: 600px;
    background-color: #b3ebde;
    border-top: 5px solid #567cad;
    border-bottom: 5px solid #567cad;
}

.artist-group .container {
    width: 100%;
    height: 100%;
}

.artist-group .container .row {
    width: 100%;
    height: 100%;
}

.artist-group .container .row .col {
    width: 100%;
    height: 100%;
    color: #567cad;
}

.col-artist {
    position: relative;
}


/* artist-left */

.artist-ul {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.artist-ul ul h3 {
    font-weight: bold;
    font-style: italic;
    margin-left: -30px;
}

.artist-ul ul p {
    line-height: 10px;
}

.artist-ul ul li {
    list-style: none;
}


/* artist-right */

.artist {
    position: absolute;
    background-image: url("../img/artist.jpg");
    background-position: 50%;
    background-position-y: 40%;
    width: 300px;
    height: 300px;
    top: 50%;
    right: 53px;
    transform: translate(0%, -50%);
}

.pinkoi {
    background-image: url("../img/pinkoi.png");
    width: 32px;
    height: 32px;
}

.artist-a-link {
    width: 400px;
    position: absolute;
    bottom: 115px;
    right: 0;
    transform: translate(0%, -50%);
}

.artist-a-link .artist-a-link-group {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.work .container .row h3 {
    font-weight: bold;
}


/* artist-card */

.card:hover {
    box-shadow: 0px 0px 20px 10px rgb(224, 224, 224);
}

.artist-card h3 {
    font-weight: bold;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.artist-card img {
    -webkit-filter: brightness(.5);
}


/* work */

.work {
    margin: 200px 0;
    position: relative;
}
.artist-cute-img{
    background-image: url("../img/小漫畫/0204.png");
    width: 344px;
    height: 313px;
    background-size: cover;
    position: absolute;
    right: 16%;
}
.work .container {
    position: relative;
}

.circle-ground-out {
    position: absolute;
    left: -45px;
    top: 55px;
}

.circle-ground {
    clear: both;
}

.work .rounded-circle {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: aquamarine;
    float: left;
}

.work .container .display-4 {
    text-align: center;
    margin-bottom: 72px;
}

.work .container .col-md {
    margin-bottom: 20px;
}


/* Style the tab */

.tab {
    overflow: hidden;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */
.tablinks{
    color: #f56e6e;
}
.tab button:focus {
    outline: 5px auto #a2fcde;
}

.tab button:hover {
    background-color: #cbffee;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #b7ffe7;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.news-img {
    width: 100%;
}

.news-img1 {}
/* footer */
footer{
    position: relative;
    margin-top:100px; 
    width: 100%;
    height: 50px;
    background-color: #a2fcde;
}
footer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #567cad;
}